javascript:
  function initMap() {
    var target = document.getElementById('map');  
    var geocoder = new google.maps.Geocoder();  

    geocoder.geocode({ address: '#{shop.city}' }, function(results, status){
       if (status === 'OK' && results[0]){  
          map = new google.maps.Map(target, {
            center: results[0].geometry.location,
            zoom: 15
          });
          new google.maps.Marker({
            position: results[0].geometry.location,
            map: map
          });
       }else{ 
         alert('失敗しました。理由: ' + status);
         return;
       }
    });
  }
  
script async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_API_KEY']}&callback=initMap"   

css:
  #map {
    height: 300px;
    width: 80%;
  }
  @media screen and (max-width:767px) { 
    #map {
      height: 300px;
      width: 100%;
    }
  }

#map 